.book-item {
	border: 1px solid red;
	padding: 20px;
	margin-bottom: 10px;
	background-color: aqua;
	display: flex;
}

.bold {
	font-weight: bold;
	margin-left: 10px;
}

.block {
	display: block;
}

.hidden {
	display: none;
	margin: 20px;
}

.button-container {
	display: flex;
	height: 150px;
	align-items: center;
	justify-content: center;
	width: 100%;
}

.form-container {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
}

.status-wrapper {
	margin-left: auto;
}
